@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CleanTrack</h1>
    <p>This app is to help keep track of the time it takes for me to clean an office. This is </p>
</div>
