<h2>About SqueakyClean</h2>
<div>
    This app was designed so that I could track my cleaning sessions and the tasks I do within that cleaning session. 
</div>
<div>
    The logo was designed by Alex Marcantel.
</div>